.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: monospace;
  align-items: center;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

.transactions {
  display: flex;
  align-items: center;
}

footer {
  margin-top: 40px;
  text-align: center;
}
