<div class="container">
  <h1>Welcome to the Budget App</h1>

  <!-- Display the Balance -->
  <app-balance
    [currentBalance]="currentBalance"
    (onTransferToSaving)="handleTransferToSaving($event)"
    class="app-balance"
  >
  </app-balance>

  <!-- Add Income and Expense -->
  <h2>Transaction</h2>
  <div class="transactions">
    <!-- Income Transaction -->
    <app-transaction
      (onTransactionAdded)="handleAddTransaction($event)"
      [transactionType]="'Income'"
    >
    </app-transaction>

    <!-- Expense Transaction -->
    <app-transaction
      (onTransactionAdded)="handleAddTransaction($event)"
      [transactionType]="'Expense'"
    >
    </app-transaction>
  </div>

  <!-- Manage and Display Savings -->
  <app-saving
    [savingAmount]="savingAmount"
    (onTransferToBalance)="handleTransferToBalance($event)"
  >
  </app-saving>
</div>
<footer>Created by Tung Nguyen</footer>
